<div class="grid grid-pad">
    <div class="col-1-2">
        <h3>{{name}}</h3>
        <img src="{{imgUrl}}">
        <div>
            <audio controls>
                <source src="{{streamUrl}}" type="audio/mp3">
                Your browser won't play this audio :(
            </audio>
        </div>
    </div>
</div>